html,
body,
#terminal-container {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--vscode-terminal-foreground, var(--vscode-editor-foreground));
  background: var(
    --vscode-terminal-background,
    var(--vscode-panel-background, var(--vscode-editor-background, #1e1e1e))
  );
}

#terminal-container {
  position: relative;
  touch-action: none;
}

#terminal-container .xterm {
  height: 100%;
  padding: 4px 0 0 4px;
}

#terminal-container .xterm-viewport {
  overflow-y: auto;
  background-color: var(
    --vscode-terminal-background,
    var(--vscode-panel-background, var(--vscode-editor-background, #1e1e1e))
  ) !important;
}

#terminal-container .xterm-helpers {
  z-index: 10;
  position: absolute;
}

#terminal-container .composition-view {
  white-space: nowrap;
  pointer-events: none;
  color: var(--vscode-terminal-foreground, var(--vscode-editor-foreground));
  background: var(
    --vscode-terminal-background,
    var(--vscode-panel-background, var(--vscode-editor-background, #1e1e1e))
  );
}

#terminal-container .xterm-helper-textarea {
  resize: none;
}
